.avatar {
  position: relative;
  padding: 5px;
  background-color: rgba(0, 0, 255, 0.25);
  border-radius: 50%;

  &__image {
    background-color: rgba(0, 0, 255, 0.25);
    height: 100%;
    border-radius: 50%;

    display: flex;
    height: 1.5rem;
    width: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  i {
    font-size: 1rem;
  }

  // &::before,
  // &::after {
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   content: "";
  // }

  // &::before {
  //   top: -5px;
  //   left: -5px;
  //   background-color: rgba(0, 0, 255, 0.25);
  // }
}
