.avatar {
  position: relative;
  padding: 5px;
  background-color: rgba(0, 0, 255, 0.25);
  border-radius: 50%;
  cursor: pointer;
}

.avatar__image {
  background-color: rgba(0, 0, 255, 0.25);
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatar i {
  font-size: 1rem;
}

.nav-toggle {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar {
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  border-radius: 25px;
  overflow: hidden;
}

.search-bar input {
  padding: 10px 20px;
  width: 100%;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  border: none;
  background-color: transparent;
}

.search-bar button {
  padding: 10px 15px;
  font-size: 14px;
  font-family: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar button i {
  margin-right: 5px;
  font-size: 1.2rem;
}

.options {
  width: 100%;
  margin-top: 10px;
  padding: 10px 0;
  background-color: transparent;
}

.options select,
.options option {
  width: 100%;
  font-size: inherit;
  padding: 10px 1rem;
  outline: none;
  border: 1px solid rgba(12, 12, 97, 0.5);
  border-radius: 15px;
  background-color: transparent;
}

.custom-loader {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2000;
}

.custom-loader .loader {
  width: 10em;
  height: 10em;
  border-top: 1em solid yellow;
  border-right: 1em solid transparent;
  -webkit-animation: loader 0.8s linear infinite;
          animation: loader 0.8s linear infinite;
  border-radius: 50%;
  margin: auto;
}

@-webkit-keyframes loader {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 4rem;
  right: 1rem;
}

.user {
  position: relative;
}

.user-card {
  height: 200px;
  padding: 20px;
}

.user__avatar {
  position: relative;
  -webkit-box-shadow: 0 0 5px #0d083a;
          box-shadow: 0 0 5px #0d083a;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__avatar img {
  width: auto;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user_options {
  position: absolute;
  top: 4rem;
  right: 0;
  font-size: 14px;
  background: #fff;
  border: 1px solid #06063f;
  padding: 1rem;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  border-radius: 20px;
  color: #000;
}

.user_options.open {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.user_options div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  cursor: pointer;
}

.user_options div:not(:last-child) {
  margin-bottom: 15px;
}

.user_options i {
  margin-right: 10px;
  font-size: 1rem;
  color: inherit;
}

.side-nave {
  position: relative;
  height: 100%;
  width: 280px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 280px;
          flex: 1 0 280px;
  border-right: 1px solid rgba(0, 0, 255, 0.05);
  z-index: 1000;
  background-color: #fff;
  padding: 20px;
  margin-left: -280px;
  -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  /* ease-in-out */
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  /* ease-in-out */
}

.side-nave.active {
  margin-left: 0;
}

.side-nave ul {
  list-style: none;
}

.side-nave ul i {
  margin-right: 10px;
  font-size: 1.5rem;
}

.side-nave ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-nave ul li {
  height: 2rem;
}

.side-nave ul li a {
  height: 100%;
}

.side-nave ul li > ul {
  padding-left: 2rem;
}

.subscription h3 {
  margin-bottom: 8px;
}

.subscription div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription button {
  padding: 8px 20px;
  background-color: #fff;
  border: 1px solid #05054d;
  color: #05054d;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.subscription button i {
  margin-left: 10px;
}

@media (min-width: 600px) {
  .subscription button {
    padding: 10px 2rem;
  }
}

.subscription button:hover {
  background-color: #060629;
  color: white;
}

.subscription > div {
  padding: 15px 20px;
  background-color: #ededed;
  color: #080610;
  border-radius: 50px;
}

@media (min-width: 600px) {
  .subscription > div {
    padding: 20px 2rem;
  }
}

.remaining_service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 2rem;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 600px) {
  .remaining_service {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.remaining_service > div {
  padding: 2rem 20px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(5, 3, 33, 0.96);
  -webkit-box-shadow: 0 0 15px rgba(77, 74, 126, 0.5);
          box-shadow: 0 0 15px rgba(77, 74, 126, 0.5);
  color: #fff;
  border-radius: 25px;
  line-height: 1.2;
}

.remaining_service > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.remaining_service > div > div span {
  text-align: center;
}

.remaining_service > div span {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-right: 10px;
}

.navigation-pane {
  position: -webkit-sticky;
  position: sticky;
  top: -3px;
  z-index: 1000;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 5px rgba(3, 3, 72, 0.076);
          box-shadow: 0 0 5px rgba(3, 3, 72, 0.076);
}

.navigation-pane .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 5%;
}

.navigation-pane .tabs .tab {
  position: relative;
  overflow: hidden;
  padding: 8px 20px;
  font-weight: 500;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  margin: 10px;
  place-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navigation-pane .tabs .tab::before, .navigation-pane .tabs .tab::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.navigation-pane .tabs .tab::before {
  border-radius: 15px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border: 1px dotted #222222;
}

.navigation-pane .tabs .tab::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #521414;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0.5;
}

.navigation-pane .tabs .tab:hover, .navigation-pane .tabs .tab.active {
  cursor: pointer;
  color: #fff;
}

.navigation-pane .tabs .tab:hover::after, .navigation-pane .tabs .tab:hover::before, .navigation-pane .tabs .tab.active::after, .navigation-pane .tabs .tab.active::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(7, 7, 51, 0.953);
  z-index: 900;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 20px 5%;
}

.modal.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.modal .modal-component {
  width: 100%;
  -webkit-box-shadow: 0 0 10px rgba(7, 7, 51, 0.953);
          box-shadow: 0 0 10px rgba(7, 7, 51, 0.953);
  padding: 20px 5%;
}

.modal .modal-content {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.modal-close i {
  font-size: 2rem;
  color: #fff;
}

.subscription h3 {
  margin-bottom: 8px;
}

.subscription div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription button {
  padding: 8px 20px;
  background-color: #fff;
  border: 1px solid #05054d;
  color: #05054d;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.subscription button i {
  margin-left: 10px;
}

@media (min-width: 600px) {
  .subscription button {
    padding: 10px 2rem;
  }
}

.subscription button:hover {
  background-color: #060629;
  color: white;
}

.subscription > div {
  padding: 15px 20px;
  background-color: #ededed;
  color: #080610;
  border-radius: 50px;
}

@media (min-width: 600px) {
  .subscription > div {
    padding: 20px 2rem;
  }
}

.available-service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 20px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.available-service > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  line-height: 1.2;
  padding: 2rem;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px rgba(18, 18, 60, 0.09);
          box-shadow: 0px 0px 5px rgba(18, 18, 60, 0.09);
  border-bottom: 1px solid rgba(18, 18, 60, 0.09);
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.available-service > div:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.hero-image {
  height: 60vh;
  width: 100%;
}

.table .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-profile {
  width: 100%;
  display: -ms-grid;
  display: grid;
  padding: 20px 10px;
  position: relative;
}

.user-profile .content-title {
  position: absolute;
  padding: 10px 20px;
  background-color: #deeaf0;
  -webkit-box-shadow: 0 0 5px rgba(6, 6, 82, 0.207);
          box-shadow: 0 0 5px rgba(6, 6, 82, 0.207);
  top: -1rem;
  z-index: 200;
  left: 2rem;
  border-radius: 25px;
  color: #12043a;
}

.user-profile .user {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  -webkit-box-shadow: 0 0 5px rgba(165, 165, 192, 0.207);
          box-shadow: 0 0 5px rgba(165, 165, 192, 0.207);
  border-radius: 20px;
  background-color: white;
  color: #1c0d38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Montserrat";
  font-size: 1rem;
}

.user-profile .user > * {
  margin-bottom: 5px;
}

.user-profile .user > div {
  letter-spacing: 0.5px;
}

.user-profile .user__avatar {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 0 15px rgba(32, 31, 36, 0.07);
          box-shadow: 0 0 15px rgba(32, 31, 36, 0.07);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-profile .user__avatar img {
  width: auto;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-profile .user span {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.user-profile .user .user__edit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: #0a071f;
}

.user-profile .user .user__edit i {
  font-size: 1rem;
  color: white;
}

.section-wrapper {
  padding: 20px 0;
  padding-top: 30px;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px rgba(18, 18, 60, 0.049);
          box-shadow: 0px 0px 5px rgba(18, 18, 60, 0.049);
  margin-top: 2.8rem;
  display: -ms-grid;
  display: grid;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section-wrapper:first-child {
  margin-top: 2rem;
}

.section-wrapper .section-title {
  position: absolute;
  top: -22px;
  left: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #0d0655;
  -webkit-box-shadow: 0 0 5px rgba(13, 6, 85, 0.3);
          box-shadow: 0 0 5px rgba(13, 6, 85, 0.3);
  letter-spacing: 0.25px;
  padding: 8px 20px;
  border-radius: 25px;
}

.section-wrapper .section-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 20px 5%;
}

.section-wrapper .section-content.products {
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.section-wrapper .section-content.quick-access {
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.section-wrapper .section-action {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 8px 15px;
  background: #08072e;
  color: #f2f3f2;
  font-size: 12px;
  cursor: pointer;
}

.section-wrapper .section-action i {
  margin-right: 10px;
  font-size: 1rem;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 520px) {
  .cards.agencies {
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.cards.products {
  padding: 20px 5%;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 520px) {
  .cards.products {
    grid-gap: 20px 5%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  position: relative;
  display: -ms-grid;
  display: grid;
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px rgba(99, 99, 165, 0.1);
          box-shadow: 0px 0px 15px rgba(99, 99, 165, 0.1);
  color: #222;
  height: auto;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card__image {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 180px;
  width: 100%;
}

.card__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__text {
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: rgba(22, 10, 65, 0.65);
  line-height: 1.2;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 2rem 20px;
  padding-left: 3rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.card__text::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 2rem;
  background-color: #521414;
  opacity: 0.5;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.card.portal .card__image {
  height: 120px;
  padding-bottom: 62.5%;
}

.card.stage {
  padding: 20px 5%;
}

.card a {
  height: 100%;
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.card:hover .card__text {
  color: #f2f2f2;
}

.card:hover .card__text::after {
  opacity: 1;
  width: 100%;
  z-index: -1;
}

.card.agency {
  padding: 20px 5%;
  height: auto;
  text-align: center;
  padding-bottom: 0;
}

.card.agency a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card.agency .card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 80px !important;
}

.card.agency img {
  -o-object-fit: contain;
     object-fit: contain;
}

.card.product {
  position: relative;
  padding: 5%;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #111155;
}

.card.product .card__image {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.card.product .product__text {
  padding: 20px 5%;
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
}

.card.product .product__name {
  line-height: 1.2;
}

.card.product .product__available {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: green;
  z-index: 100;
}

.card.access .card__image {
  background-size: 100%;
  background-repeat: no-repeat;
}

.card.application {
  padding: 20px;
}

.form-container {
  background-color: #fff;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.form-container form {
  height: 100%;
  width: 100%;
  padding: 20px 5%;
  font-size: 100%;
}

.form-container form .form-group {
  margin-bottom: 20px;
}

.form-container form input,
.form-container form select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.form-container form input {
  border: 1px solid #000;
  outline: none;
}

.form-container form input::-webkit-input-placeholder {
  font-size: 0.85rem;
}

.form-container form input:-ms-input-placeholder {
  font-size: 0.85rem;
}

.form-container form input::-ms-input-placeholder {
  font-size: 0.85rem;
}

.form-container form input::placeholder {
  font-size: 0.85rem;
}

.form-container form button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(7, 7, 51, 0.953);
  color: #fff;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.form-container form button:hover {
  background-color: #da1010;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  z-index: 900;
  background-color: #111155;
  color: #fff;
}

header i {
  color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 14px;
  overflow: hidden;
}

.wrapper > .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4rem 1fr auto;
      grid-template-rows: 4rem 1fr auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.wrapper a {
  text-decoration: none;
  color: inherit;
}

main {
  padding: 2rem 5%;
  height: 100%;
  overflow-y: auto;
  margin-bottom: 20px;
  background-color: rgba(247, 188, 178, 0.111);
}

main.fixed {
  overflow: hidden;
}

footer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: white;
  -webkit-box-shadow: 0 -3px 5px rgba(61, 61, 141, 0.1);
          box-shadow: 0 -3px 5px rgba(61, 61, 141, 0.1);
}

footer .footer-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 20px;
}

footer .footer-component > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 12px;
  color: #111155;
  opacity: 0.85;
  font-weight: 700;
  padding: 12px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  /* ease-in-out */
  border-radius: 20px;
}

footer .footer-component > div span {
  display: none;
  color: #fff;
}

footer .footer-component > div:hover, footer .footer-component > div.active {
  opacity: 1;
  background-color: #521414;
}

footer .footer-component > div.active span {
  display: block;
}

footer .footer-component > div i {
  margin-right: 10px;
  font-size: 1.25rem;
}

.sliding-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 200%;
  overflow: hidden;
}

.sliding-container > * {
  width: 100%;
}

#studentPortal main {
  padding: 0;
}

.file-manager__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 20px;
  padding: 15px;
}

.file-manager__component {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(15, 10, 87, 0.118);
          box-shadow: 0 0 5px rgba(15, 10, 87, 0.118);
  padding: 15px;
  border-radius: 20px;
  line-height: 1.2;
}

.file-manager__component > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .file-manager__component {
    padding: 15px 2rem;
    font-size: 1rem;
  }
}

.file-manager__component i {
  margin-right: 20px;
}

.file-manager__component > i {
  display: none;
}

@media (min-width: 600px) {
  .file-manager__component > i {
    display: inline-block;
  }
}

#JAMBProfile main {
  padding: 0;
}

#TechMarket .intro-section {
  height: 60vh;
  background-color: rgba(85, 17, 17, 0.645);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

#TechMarket .intro-section h1 {
  max-width: 920px;
  margin: 0 auto;
  font-size: 2.1rem;
  color: #f5f6fc;
  font-weight: 700;
  text-align: center;
}

#TechMarket .section-title {
  padding: 0 5%;
}

#TechMarket main {
  padding: 0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: auto;
}

body {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins";
  background-color: rgba(255, 60, 0, 0.15);
}

@media (min-width: 768px) {
  body {
    background-color: rgba(0, 0, 255, 0.693);
  }
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=main.css.map */