.subscription {
  //   padding: 20px;

  h3 {
    margin-bottom: 8px;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    padding: 10px 2rem;
    background-color: rgb(5, 5, 77);
    border: 1px solid #fff;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    border-radius: 20px;

    transition: 0.3s ease-in-out;
    &:hover {
      background-color: #fff;
      border: 1px solid rgb(5, 5, 77);
      color: rgb(5, 5, 77);
      font-weight: bold;
    }
  }

  > div {
    padding: 20px 2rem;
    background-color: rgb(12, 12, 89);
    color: #fff;
    border-radius: 50px;
  }
}
