:root {
  --dark-green: hsl(240, 87%, 38%);
  --green: #7cc35b;
  --light-green: #a5d061;
  --accent-green: #d2e6b6;
  --green: #677f5f;
  --text-onDark: #fff;
  --text-onLight: #222;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

i {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: auto;
  scroll-snap-align: y mandatory;
}

body {
  position: relative;
  font-family: "poppins";
  background: #fff;
  scroll-behavior: auto;
  height: 100%;
  width: 100%;
}

body.fixed {
  overflow-y: hidden !important;
}

body > * {
  z-index: 500;
}

body#home {
  position: relative;
  top: 0;
  color: #fff;
  height: 100%;
}

body#JAMBServices {
  overflow-y: scroll;
  background: #eefaea;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 6rem;
  background-color: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 139, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 139, 0.1);
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  z-index: 900;
}

header .brand {
  font-family: "Montserrat";
  letter-spacing: 2.5px;
  cursor: pointer;
  font-weight: 700;
  color: darkblue;
  font-size: 12px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

header .brand span {
  display: block;
}

header .brand span:first-child {
  letter-spacing: 10px;
}

header .brand > div > span header .brand:hover {
  opacity: 0.7;
}

header .brand .logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

@media (min-width: 720px) {
  header .brand .logo {
    height: 45px;
    width: 45px;
  }
}

header .brand .logo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .button {
  background-color: #0d0646;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (min-width: 720px) {
  header .button {
    padding: 15px 20px;
  }
}

header .button:hover {
  border-color: #0d0646;
  background-color: #fff;
  color: #0d0646;
}

main {
  position: relative;
  bottom: 0;
  min-height: 100%;
  height: auto;
  top: 6rem;
}

section {
  position: relative;
  height: 100%;
  color: #000;
  width: 100%;
  padding: 20px;
}

section:nth-child(2) {
  padding: 0 5%;
  height: calc(100vh - 6rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section:nth-child(2) .section-content {
  max-width: 920px;
  margin: 0 auto;
  text-align: center;
}

section:nth-child(3) {
  background-color: rgba(0, 0, 138, 0.1);
  height: calc(100vh - 6rem);
}

section.hero {
  position: relative;
  height: calc(100vh - 6rem);
  background-image: url("/public/images/J4o.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  padding: 0;
}

section.hero::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(26, 10, 97, 0.761);
}

section.hero h1 {
  position: relative;
  z-index: 900;
  line-height: 1.4;
  max-width: 920px;
  margin: auto;
  margin-bottom: 10px;
  font-family: "Poppins";
  font-weight: 700;
  color: #eeeaea;
  height: 100%;
  font-size: calc(2.2vw + 16px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  overflow: hidden;
}

section.hero h1 span p {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 1.6;
  opacity: 0.85;
}

section .section-title {
  padding: 20px;
  text-align: center;
  font-size: calc(2.2vw + 16px);
}

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__hori {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input,
button,
select {
  padding: 15px 20px;
  font-size: 1rem;
  width: 100%;
  outline: none;
  border: none;
}

@media (max-width: 520px) {
  input,
  button,
  select {
    font-size: 1rem;
    padding: 12px 20px;
  }
}

input,
select {
  margin-bottom: 20px;
  border-radius: 5px;
}

button {
  cursor: pointer;
}

.button {
  font-size: 12px;
  margin-left: auto;
  padding: 5px 15px;
  background-color: green;
}

.brand {
  height: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e8e8e8;
}

@media (min-width: 720px) {
  .brand {
    padding: 10px 20px;
  }
}

.brand .logo {
  height: 100%;
  margin-right: 10px;
}

.brand img {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modalResponse {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(24, 6, 65, 0.85);
  color: #f1e5e5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.modalResponse.open {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modalResponse .close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.modalResponse .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
}

#confirmStatus {
  width: 100%;
  max-width: 600px;
  padding: 20px 2rem;
  border-radius: 15px;
}

.Fresher--Data__Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 40px;
  background: #090d4e;
  border-radius: 15px;
  width: 100%;
  line-height: 2;
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.slider {
  overflow: hidden;
}

.slider .slides {
  position: relative;
  width: 500%;
  height: calc(100vh - 8rem);
  margin: 0;
  left: 0;
  -webkit-animation: 20s slider infinite;
          animation: 20s slider infinite;
}

.slider .slides .slide {
  width: 20%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@-webkit-keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.navigation-pane {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.navigation-pane nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-x: auto;
  padding: 20px 0;
}

.navigation-pane nav > div {
  white-space: nowrap;
  padding: 10px 20px;
  background: #18145a;
  border-radius: 20px;
}

.navigation-pane nav > div:not(:last-child) {
  margin-right: 20px;
}

.navigation-pane nav > div a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-family: "Poppins";
  color: #eeecf3;
}

.navigation-pane nav > div a.active, .navigation-pane nav > div a:hover {
  color: #a8ed9c;
}

.navigation-pane nav > div a.active {
  font-weight: 700;
}

aside {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 139, 0.9);
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

aside.open {
  opacity: 1;
  z-index: 1000;
}

aside .aside {
  position: relative;
  width: 100%;
  max-width: 280px;
  z-index: 1000;
  height: 100%;
  background: white;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 139, 0.501);
          box-shadow: 0 0 15px rgba(0, 0, 139, 0.501);
  border-bottom-right-radius: 155px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

aside .aside.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

aside .aside .close-aside {
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  z-index: 2000;
  cursor: pointer;
}

aside .aside .close-aside i {
  font-size: 1.5rem;
  color: darkblue;
}

aside .aside ul {
  list-style: none;
  height: 100%;
  padding: 60px 20px 0 0;
  padding-right: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

aside .aside ul li {
  width: 100%;
  margin-bottom: 20px;
  color: #000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

aside .aside ul li a {
  padding: 10px 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 100%;
  color: #110e4f;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Poppins";
}

aside .aside ul li a i {
  margin-right: 20px;
  font-size: 1rem;
}

aside .aside ul li.get-started {
  height: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: end;
      justify-self: end;
  background: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 139, 0.104);
          box-shadow: 0 0 10px rgba(0, 0, 139, 0.104);
  border-radius: 35px;
  font-weight: 700;
  margin-top: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

aside .aside ul li.get-started:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 139, 0.508);
          box-shadow: 0 0 5px rgba(0, 0, 139, 0.508);
  color: #000;
}

aside .aside ul li.get-started a {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 10px 15px 30px;
}

aside .aside ul li.active {
  background-color: rgba(18, 14, 107, 0.467);
  font-weight: 700;
}

aside .aside ul li:hover {
  background-color: rgba(19, 14, 107, 0.207);
}

aside .aside ul li:hover.active a {
  font-weight: 700;
}

aside #closeAside {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: transparent;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px 5%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.cards .card {
  height: auto;
  padding: 2rem;
  background-color: #fff;
  margin-bottom: 20px;
  color: #000;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 139, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 139, 0.1);
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}

.cards .card small {
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.5px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #a8ed9c;
  -ms-grid-column-align: start;
      justify-self: start;
  color: rgba(0, 0, 0, 0.85);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cards .card button {
  width: auto;
  justify-self: end;
  padding: 10px;
  background-color: transparent;
  color: darkblue;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 700;
}

.form-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container form {
  height: auto;
  width: calc(100% - 20px);
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container form .form-group {
  margin-bottom: 10px;
}

.form-container form label {
  margin-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.85rem;
}

.form-container form label i {
  font-size: 1rem;
  margin-left: 5px;
  color: #090d4e;
}

.form-container form input,
.form-container form select {
  width: 100%;
  border-bottom: 1px dotted;
  padding: 10px 20px;
  font-size: 0.85rem;
  border-radius: 0;
}

.form-container form option {
  padding: 10px;
  font-family: inherit;
}

.form-container form .grid-col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 20px;
}

.form-container form button {
  font-size: 1rem;
  font-family: inherit;
  border-radius: 5px;
  width: 100%;
  background-color: var(--dark-green);
  color: #fff;
}

.BLOG {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.BLOG__image {
  height: 100%;
  width: 100%;
}

.BLOG__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.BLOG__content {
  text-align: justify;
}

.BLOG__title {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 0;
  padding: 0;
  margin-bottom: 10px;
}

.BLOG__excerpt {
  line-height: 1.5;
  font-size: 0.85rem;
}

.trending {
  margin-top: 20px;
}

.books {
  margin-top: 2rem;
}

.books .book {
  min-height: 200px;
  width: 100%;
  position: relative;
  background: #050c01;
  font-family: "Poppins";
}

.books .book_picture {
  width: 200px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.books .book img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: auto;
}

footer {
  position: relative;
  background: #0d0646;
  padding: 2rem;
  top: 6rem;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-1 > div:not(:last-child) {
  margin-right: 20px;
}

footer .footer-1 img {
  height: 2rem;
  width: 2rem;
}

.pricing-plans {
  grid-gap: 20px 5%;
  padding: 5%;
}

.pricing-plan {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px 5%;
  background-color: rgba(24, 6, 65, 0.85);
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.pricing-plan:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.grid-2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

#account {
  height: 100%;
}

#account main {
  position: relative;
  padding: 0;
  height: calc(100% - 6rem);
}

#account section {
  height: 100%;
  width: 100%;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  position: relative;
}

@media (max-width: 520px) {
  #account section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

#account .BG {
  position: relative;
  z-index: 1;
  background: #111155;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 5%;
}

#account .BG h3 {
  margin-top: -2rem;
  color: rgba(255, 255, 255, 0.755);
}

#account .BG a {
  display: inline-block;
  background-color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 15px;
}

@media (max-width: 520px) {
  #account .BG {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;
  }
  #account .BG h3 {
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
  #account .BG a {
    display: none;
  }
}

#account .form-container {
  position: relative;
  z-index: 2;
  max-width: 600px;
  width: 90%;
  position: absolute;
  top: 20%;
  left: 65%;
  -webkit-transform: translate(-65%, -30%);
          transform: translate(-65%, -30%);
}

#account .form-container h3 {
  margin-bottom: 2rem;
  font-weight: 300;
  letter-spacing: 3px;
  padding-bottom: 10px;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.118);
}

#account .form-container form {
  padding: 20px 5%;
}

@media (max-width: 520px) {
  #account .form-container {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #account .form-container form {
    border-bottom: 1px solid #111155;
  }
}

#account header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#account header .brand {
  text-align: center;
}

#account header .brand .logo {
  height: 1rem;
  width: 1rem;
}

#account header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#account header .signing__option {
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #0d0b32;
  color: #fff;
  padding: 10px;
  font-weight: 500;
  border-radius: 5px;
  white-space: nowrap;
}

#account header .toHome {
  height: 2rem;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  border-radius: 50%;
  background-color: rgba(13, 11, 50, 0.145);
}

@media (max-width: 580px) {
  #account header .toHome {
    display: none;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: none;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 720px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  opacity: 0.85;
}

.menu {
  margin-left: 20px;
  cursor: pointer;
}

.menu i {
  font-size: 2rem;
  color: #0d0646;
}

@media (min-width: 720px) {
  .menu {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */