@import "./5.utilities/all";

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-align: y mandatory;
}

body {
  font-family: "poppins";
  background-color: #fff;

  height: 100%;
  width: 100%;

  &.fixed {
    overflow-y: hidden !important;
  }
  > * {
    z-index: 500;
  }

  &#home {
    position: relative;
    background-image: url("/public/images/bgg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;

    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(26, 10, 97, 0.289);
    }

    h1 {
      position: relative;
      z-index: 900;
      line-height: 1.2;
      margin-bottom: 20px;
      font-family: "Poppins";
      font-weight: 500;
      letter-spacing: 2px;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;

      span p {
        display: block;
        margin-top: 2rem;
        font-size: 1rem;
        letter-spacing: normal;
        font-weight: 500;
      }
    }
  }

  &#JAMBServices {
    overflow-y: scroll;
    background: rgb(238, 250, 234);
  }
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 6rem;

  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 139, 0.1);
  color: #000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 900;

  .avatar {
    background-color: white;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 139, 0.501);
  }
  .brand {
    font-family: "Montserrat";
    letter-spacing: 3px;
    cursor: pointer;
    font-weight: 700;
    color: rgb(0, 0, 139);
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
    text-transform: capitalize;

    &:hover {
      opacity: 0.7;
    }
  }

  .menuToggle {
    cursor: pointer;
    display: grid;
    place-items: center;
    @media (min-width: 720px) {
      padding-right: 2rem;
    }

    i {
      font-size: 2rem;
    }
  }
}
main {
  position: relative;
  top: 6rem;

  height: calc(100% - 6rem);
  padding: 2rem;
}

.wrapper {
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  h2 {
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 0.5px;
    color: #fff;

    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;

    @media (max-width: 720px) {
      display: flex;
      align-items: center;
      font-size: 2.25rem;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    @media (max-width: 520px) {
      font-size: 1.75rem;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  // justify-content: space-between;
}

input,
button,
select {
  padding: 15px 20px;
  font-size: 1rem;
  width: 100%;

  outline: none;
  border: none;

  @media (max-width: 520px) {
    font-size: 1rem;
    padding: 12px 20px;
  }
}

input,
select {
  margin-bottom: 20px;
  border-radius: 20px;
}

button {
  cursor: pointer;
}

.button {
  font-size: 12px;
  margin-left: auto;
  padding: 5px 15px;
  background-color: green;
}

// Components

.brand {
  height: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 91%);

  @media (min-width: 720px) {
    padding: 10px 20px;
  }

  .logo {
    height: 100%;
    margin-right: 10px;
  }

  img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
}

.modalResponse {
  position: fixed;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  background-color: hsla(258, 83%, 14%, 0.85);
  color: hsl(0, 29%, 92%);
  transition: 0.3s ease-in-out;
  transform: scale(0);

  &.open {
    transform: scale(1);
  }

  .close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
  }
}

#confirmStatus {
  width: 100%;
  max-width: 600px;
  padding: 20px 2rem;
  border-radius: 15px;
}
.Fresher--Data__Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 40px;
  background: hsl(236, 80%, 17%);
  border-radius: 15px;

  width: 100%;
  line-height: 2;

  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 20px;
}
//
.navigation-pane {
  width: 100%;
  position: relative;
  overflow: hidden;

  nav {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scrollbar-color: #444;
    padding: 20px;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #444;
      border-radius: 6px;
      border: 3px solid #888;
    }

    > div {
      width: 120px;
      margin-right: 20px;
      flex: 0 0 200px;
      white-space: nowrap;

      a {
        justify-content: center;
        transition: 0.3s ease-in-out;
        font-family: "Poppins";
        color: hsla(0, 100%, 100%, 0.75);

        &.active,
        &:hover {
          color: hsl(111, 69%, 77%);
        }

        &.active {
          font-weight: 700;
        }
      }
    }
  }
}

// Aside

aside {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 139, 0.9);
  z-index: -1;
  opacity: 0;
  transition: 0.3s ease-in-out;

  &.open {
    opacity: 1;
    z-index: 1000;
  }

  .aside {
    position: relative;
    width: 100%;
    max-width: 400px;
    z-index: 1000;

    height: 100%;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 139, 0.501);

    border-bottom-right-radius: 155px;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
    // overflow-y: auto;

    &.open {
      transform: translateX(0);
    }

    .close-aside {
      position: fixed;
      top: 1.5rem;
      right: 1rem;
      z-index: 2000;
      cursor: pointer;

      i {
        font-size: 2rem;
        color: rgb(0, 0, 139);
      }
    }

    ul {
      list-style: none;
      height: 100%;
      padding: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      li {
        height: 60px;
        width: 100%;
        margin-bottom: 20px;

        &.get-started {
          align-self: flex-end;
          justify-self: end;
          background: hsl(0, 0%, 100%);
          box-shadow: 0 0 15px rgba(0, 0, 139, 0.501);
          border-radius: 25px;
          font-weight: 700;
          margin-top: 2rem;
          color: #000;
          transition: 0.3s ease-in-out;

          &:hover {
            background-color: rgba(0, 0, 139, 0.501);
          }

          a {
            justify-content: space-between;
            padding: 20px;
          }
        }

        &.active,
        &:hover {
          a {
            color: #000;
          }

          &.active {
            a {
              font-weight: 700;
            }
          }
        }

        a {
          padding: 10px 20px;
          transition: 0.3s ease-in-out;
          height: 100%;
          color: #000;
          font-size: 1rem;
          line-height: 1.6;
          font-family: "Poppins";

          i {
            margin-right: 20px;
            color: #000;
          }
        }
      }
    }
  }

  #closeAside {
    width: auto;
    flex-grow: 1;
    background: transparent;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: start;

  .card {
    min-height: 200px;
    padding: 2rem;
    background-color: #fff;
    margin-bottom: 20px;

    border-radius: 25px;

    box-shadow: 0 0 15px rgba(0, 0, 139, 0.234);

    grid-gap: 20px;

    display: grid;

    small {
      // font-family: "Lora";
      font-size: 0.8rem;

      font-weight: 900;
      letter-spacing: 0.5px;
      padding: 5px 10px;
      border-radius: 15px;
      background-color: hsl(111, 69%, 77%);
      justify-self: start;
      color: rgba(0, 0, 0, 0.85);
      user-select: none;
    }

    button {
      width: auto;
      justify-self: end;
      padding: 10px;
      background-color: transparent;
      color: rgb(0, 0, 139);
      border-radius: 2px;
      display: flex;
      align-items: center;
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    height: auto;
    width: calc(100% - 2rem / 2);
    max-width: 600px;
    padding: 2rem;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
    box-shadow: 0 0 15px rgba(0, 0, 139, 0.152);
    justify-content: center;
    border-radius: 20px;

    label {
      margin-bottom: 5px;
      display: block;
    }

    input {
      width: 100%;
      border: 1px dotted;
      padding: 10px 20px;
    }

    button {
      font-size: 1rem;
      border-radius: 20px;
      width: 100%;
      background-color: var(--dark-green);
      color: #fff;
    }
  }
}

.trending {
  margin-top: 20px;
  .blog {
    color: #fff;
  }
}

.books {
  margin-top: 2rem;

  .book {
    min-height: 200px;
    width: 100%;
    position: relative;
    background: rgb(5, 12, 1);
    font-family: "Poppins";

    &_picture {
      width: 200px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      object-fit: cover;
      height: 200px;
      width: auto;
    }
  }
}
section {
  .section {
    &-header {
      position: relative;
      text-align: center;

      h3 {
        margin-bottom: 20px;
      }
      .semester {
        position: absolute;
        right: 0;
        top: 0;
        color: hsl(111, 69%, 77%);
      }
      .session {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15rem;
        font-weight: 600;
        opacity: 0.1;
        letter-spacing: 15px;
        z-index: -1;
      }
    }
  }
}

.table {
  .row {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
  }
}

// Footer

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  color: hsl(0, 0%, 84%);

  display: flex;
  justify-content: flex-end;
}
